/*

selector {
  properties: value;
  properties: value;
}

*/

  body {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
  }

h1 {
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
}
